<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <h3 style="text-align: center;">User Logged In !!!</h3>
    </main>

<%- include('../includes/end.ejs') %>