<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <% if (!isAuthenticated) { %>
            <main class="centered">
                <h1>Please Login to view content</h1>
            </main>
        <% } else { %>
            <main class="centered">
                <h1>This is About Page</h1>

                <h3>The About Us page of your website is an essential source of information for anyone who wants to know more about your business.

                    It is where you showcase your history, the unique value of your work, your mission and vision, and the audiences you serve.
                    
                    Together, the design, written content, and visual elements of an About Us page tell an important story about who you are and what matters to you.
                </h3>
            </main>
        <% } %>
        <%- include('../includes/end.ejs') %>